
nav(class="col-12 col-md-3 col-xl-2 bd-sidebar")
  ul(class="nav flex-column")
    li(class="nav-item")
      a(class="nav-link" href="#" ) Dashboard
    li(class="nav-item")
      a(class="nav-link" href="/" ) Projets
    li(class="nav-item")
      a(class="nav-link" href="#") Reservations
    li(class="nav-item")
      a(class="nav-link" href="#") Demandes
    li(class="nav-item")
      a(class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true") Facturation
    li(class="nav-item")
      a(class="nav-link" href="/typeProjets/new/") Parametres