nav(class="navbar navbar-dark bg-dark fixed-top")
  a(class="navbar-brand" href="#")
    img(src="/images/orange_logo.svg" class="d-inline-block align-top" alt="")
  a(class="navbar-brand" href="#") New Maroland
  a(class="btn btn-primary btn-sm ml-auto m-1" href="/auth/signout") Deconnexion
