nav(class="navbar navbar-light bg-light navbarMain")
  a(class="navbar-brand" href="#")
    img(src="/images/container.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="")
    span New Maroland
  ul(class="navbar-nav flex-row ml-auto")
    li(class="nav-item mr-2")
      a(class="btn btn-primary btn-sm" href="/auth/signout") Deconnexion
