<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    //link(rel="stylesheet" href="/css/main.css")
    //link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")

    script(src="https://unpkg.com/axios/dist/axios.min.js")

    link(rel="stylesheet" href="/css/orangeHelvetica.css")
    link(rel="stylesheet" href="/css/orangeIcons.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@4.3.1/dist/css/boosted.min.css" integrity="sha384-pQZlBsB+mYr1o13jiUUGYbwDh2LirLZP0Pvou6wwJ/sWWoHlU8oVY2l8sX/Ejhrr" crossorigin="anonymous")

    title New Maroland
  body
    div(class="container-fluid")
      include includes/topbar.pug
      div(class="row pt-5")
        nav(class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar")
          ul(class="nav flex-column")
            li(class="nav-item")
              a(class="nav-link" href="#" ) Dashboard
            li(class="nav-item")
              a(class="nav-link" href="#" ) Projets
            li(class="nav-item")
              a(class="nav-link" href="#") Reservations
            li(class="nav-item")
              a(class="nav-link" href="#") Demandes
            li(class="nav-item")
              a(class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true") Facturation
        div(class="col-sm-9")
          block content
          .row         
            div(class="col-sm-3") reservation
            div(class="col-sm-3") Demandes

