div(class="table-responsive")
  table(class="table table-hover")
    thead
      tr
        th(scope="col") Nom
        th(scope="col") Etat
        th(scope="col") Auteur
    tbody
      each reservation in reservations
        tr
          td=reservation.nom
          td En cours
          td @mdo

