form(method="post" action="/projets")
  div
    label Nom du projet:
    input(name="nom" " type="text")
  div
    label Description:
    textarea(name="Description" rows="5" placeholder="Description du projet ?")
  div
    input(type="submit" value="Ajouter")

