if projets
  each projet in projets
    div(class="card objet-element p-2")
        div(class="card-body p-0 d-flex flex-row")
          //img(class="rounded-circle" width="60" height="60" src=projet.auteur.avatar class="mr-2")
          div(class="d-flex flex-grow-1 pt-1 flex-column overflow-ellipsis")
            div(class="d-flex flex-row overflow-ellipsis")
              strong(class="flex-grow-1")= projet.nom
              if projet.auteurId.toString() === currentUser._id.toString()
                div(class="d-flex flex-row justify-content-center pr-2")
                  a(class="fas fa-edit pr-2 text-success" href="/objets/edit/" + projet._id)
                  a(class="fas fa-trash text-danger pointer-cursor" objetid=projet._id)
            span(class="overflow-ellipsis pr-2")=projet.description
else
  p(class="p-3") Aucun projet