form(class="p-2" method="post" action="/projets")
  div(class="form-group")
    label Nom du projet:
    input(name="nom" class="form-control" type="text" )
  div(class="form-group")
    label Description:
    textarea(name="description" class="form-control" rows="5" placeholder="Descriptif du projet")
  div(class="form-group")
    label Basicat:
    input(name="basicat" class="form-control" type="text" )
  div(class="form-group")
    label Type de projet:
    select(name="type" class="form-control" type="text" )
      each typeprojet in typeprojets
        option(value=typeprojet._id)=typeprojet.nom
  div
    if (locals.errors && errors && errors.length)
      ul
        each error in errors
          li= error
  div
    input(type="submit" value="Ajouter" class="btn btn-primary btn-sm mr-2")
    a(href="/projets" class="btn btn-secondary btn-lg btn-sm" role="button")="Annuler"